body {
  font-family: 'Baloo Bhaina 2', cursive;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
}

.header-logo {
  display: flex;
  align-items: center;
}

.logo {
  height: 80px;
  width: 300px;
}

.header-ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.center {
  display: block;
  margin: 0 auto;
  text-align: center;
}

footer {
  text-align: center;
  border-top: 1px solid black;
  font-size: 32px;
  padding-top: 25px;
}

footer li a {
  color: blue;
  text-decoration: none;
}

footer li a:hover {
  color: rgb(8, 177, 233);
}
